.rocket-icon
  width 40px
  height 27px
  position absolute
  bottom 20px
  right 30px
  animation 3s 1 rocket
  animation-fill-mode forwards

@keyframes rocket {

  from {
      transform: translate(70px, 44px)
  }

  to {
      transform: translate(0, 0)
  }
}