.bgbtn
  border none
  background color-3
  transition all .3s
  color #FFF
  border-radius 4px
  outline none
  font-size 14px
  padding 10px 55px
  cursor pointer
  &:hover
    background darken(color-3, 20%)
  &.secondary
    border 2px solid color-3
    background #FFF
    color color-3
    &:hover
      background color-3
      color #FFF