.menu-container
  width 30px
  height 30px
  margin-left 10px
  margin-top -6px
  cursor pointer
  position relative
  &:before
    content ""
    width 20px
    height 20px
    background-color color-4
    position absolute
    top 55px
    right -13px
    transform rotate(45deg)
    display none
    transition all .1s
  float right
  .menu-icon
    width 30px
    height 30px
    fill color-3
  &.active
    .menu-list
      visibility visible
      opacity 1
      transform translateX(-10px)
    &:before
      display block
      transform rotate(45deg) translateX(-26px)
  .menu-list
    visibility hidden
    width 115px
    border 3px solid color-4
    display flex
    top 28px
    opacity 0
    position absolute
    list-style none
    right -11px
    border-radius 3px
    background #FFF
    z-index 10
    padding 15px 22px
    li
      margin-right 20px
      text-align center
      color #656565
      section
        transition all .3s
        &:first-child
          box-shadow 1px 2px 7px rgba(167, 167, 167, 0.67)
          padding 5px 8px
          margin-bottom 10px
        &:hover
          transform translateY(2px)
          box-shadow 1px 0px 7px rgba(167, 167, 167, 0.67)
          svg
            transform scale(0.8)