.config-package
  position relativa
  .btn
    font-weight bolder
    text-transform none
    position relative
  .btn-back
    background transparent
    color color-1
    font-weight bold
    .arrow-back
      width 34px
      height 34px
      fill color-1
      position absolute
      right 50px
      top -2px
      transition all .2s
    &:hover
      .arrow-back
        transform translateX(-4px)

  .title-package--container
    margin-top 11px
    .input-title-package
      font-size 30px
      height 43px
      color color-4
  .description-package--container
    .input-description-package
      color gray-light
      font-size 16px
    margin-bottom 19px
  .card-delete
    position absolute
    right -6px
    top -11px
    background color-2
    border-radius 100%
    width 30px
    height 30px
    text-align center
    cursor pointer 
    transition all .3s ease
    &:hover
      width 70px
      border-radius 200px
      text-align right
      .trash-card
        transform scale(1.1)
      label
        opacity 1
    label
      float left
      color #FFF
      margin-top 8px
      margin-left 9px
      opacity 0
    .trash-card
      width 18px
      height 18px
      fill #FFF
      margin-top 5px
      transition all .2s ease
      float right 
      margin-right 5px 