.fish-3
  width 100px
  height 54px
  position absolute
  bottom -18px
  right 30px
  animation 3s 1 fish3
  animation-fill-mode forwards

@keyframes fish3 {

  from {
      transform: translate(-70px, 44px)
  }

  to {
      transform: translate(0, 0)
  }
}