.octopus-logo
  width 50px
  height 50px
  position absolute
  left 26px
  top 8px
  animation 1s 1 octo
  animation-fill-mode forwards
.logo-title
  position absolute
  left 75px
  top 20px
  margin 0
  letter-spacing 4px
  .flu
    color color-3
    font-weight 300
  .any
    color color-2
    font-weight 600


@keyframes onew {

  from {
      width 0
  }

  to {
      width 20px
  }
}

@keyframes octo {

  from {
    transform translateY(-20px)
  }

  to {
    transform translateY(0)
  }
}