.octopus-logo
  width 50px
  height 50px
  position absolute
  left 26px
  top 8px
.logo-title
  position absolute
  left 75px
  top 20px
  margin 0
  text-transform uppercase
  letter-spacing 4px
  .flu
    color color-3
    font-weight 400
    &:after
      content ""
      width 20px
      height 2px
      background color-3
      position absolute
      margin-left -18px
      margin-top 7px
    &:before
      content ""
      width 10px
      height 2px
      background color-3
      position absolute
      left 34px
      top 13px
  .any
    color color-1