.profile
  margin-left 14px
  cursor pointer
  width 50px
  position relative
  float right
  &-image
    border-radius 100%
    width 30px
  &:after
    content ""
    width 3px
    height 9px
    background color-2
    position absolute
    right 4px
    top 12px
    transform rotate(45deg)
  &:before
    content ""
    width 3px
    height 9px
    background color-2
    position absolute
    right 9px
    top 12px
    transform rotate(-45deg)