.play-icon
  width 18px
  height 18px
.play-content
  position absolute
  transition width .2s, opacity .2s, background .3s
  top 47px
  width 26px
  right -20px
  cursor pointer
  border-radius 200px
  padding 3px
  opacity 0
  .play-icon
    margin-left 6px
    margin-top 4px

.play-label
  color #FFF
  position absolute
  top 9px
  right 12px
  font-weight bold
  transition .1s ease-in
  visibility hidden