.importPack
  width 38px
  margin-left 14px
  float right
  .import-icon
    width 37px
    height 32px
    fill color-4
    cursor pointer
    transition .3s all
  #input-import
    visibility hidden
    opacity 0
    width 0