.importPack
  float right
  margin-left 10px
  margin-top -6px
  width 31px
  .import-icon
    width 30px
    height 30px
    cursor pointer
  #input-import
    visibility hidden
    opacity 0
    width 0