.importPack
  width 48px
  margin-left 14px
  margin-top -4px
  float right
  .import-icon
    width 47px
    height 32px
    fill color-4
    cursor pointer
    transition .3s all
  #input-import
    visibility hidden
    opacity 0
    width 0