.card-content
  padding 0
  margin-top 50px
  margin-bottom 70px
  list-style none
  display flex
  flex-wrap wrap
  .card-item
    width 124px
    height 124px
    transition all .3s ease-in
    margin-top 20px
    margin-right 21px
    &:last-child
      margin-right 0
    .card-item--count
      color #FFF
      font-size 50px
      margin 0
      font-weight bold
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      transition all .2s ease-out
    .card-item-block
      border-radius 4px
      z-index 12
      &.color-1
        background color-1
      &.color-2
        background color-2
      &.color-3
        background color-3
      &.color-4
        background color-4
      width 124px
      height 124px
      position absolute
      cursor pointer
      .arrow-back
        fill #FFF
        transform rotateZ(90deg)
        position absolute
        left 33px
        top -13px
        width 60px
        opacity 0
        visibility hidden
        transition all .1s ease-in
    .card-edit-container
      opacity 0
      visibility hidden
      z-index 13
      transition all .3 ease-in
    &.isEditing
      .card-item-block
        left 0
        border-radius 0
        .arrow-back
          opacity 1
          visibility visible
      .card-edit-container
        opacity 1
        visibility visible
        position absolute
        left 124px
        width 80%
        height 124px
        background rgb(247, 247, 247)
      .card-item--count
        opacity 0
        visibility hidden
      .tooltip-card
        display none
    &:hover
      .tooltip-card
        transform translateY(-45px)
        opacity 1

.tooltip-card
  transition all .3s ease
  padding 10px 10px 10px 0
  width 200%
  opacity 0
  p
    margin 0
    margin-bottom 2px
    color color-4
  span
    font-weight bold

.card-edit-container
  .card-edit-content
    width calc(50% - 21px)
    float left
    height 100%
    padding-left 19px
    &:first-child
      padding-left 20px
      position relative
      &:after
        content ""
        position absolute
        width 2px
        height 100%
        background #efefef
        right 0
        top 0
    p
      font-size 22px
      margin-bottom 10px
      color rgba(184, 189, 199, 1)
      font-weight bold
    input
      width 84%
      height 32px
      padding-left 10px
      outline none