.card-content
  padding 0
  margin-top 27px
  margin-bottom 70px
  list-style none
  display flex
  flex-wrap wrap
  .card-item
    display block
    width 200px
    height 114px
    transition all .2s ease-in
    margin-top 20px
    margin-right 18px
    z-index 1
    a
      display block
      width 200px
      height 114px
    &.card-item--empty
      border 2px dotted lighten(color-3, 50%)
      margin-right 0
      border-radius 4px
      margin-top 21px
      width 100%
      height 60px
      .card-item-block
        width 92%
        height 60px
        text-align center
        .card-item--more, .item-more-message
          color color-3
          font-weight bolder
          margin 0
          display inline-block
          vertical-align middle
        .card-item--more
          font-size 50px
          margin-top 5px
          margin-right 6px
        .item-more-message
          font-size 14px
          text-transform uppercase
    &.card-item--new
      border 2px dotted lighten(color-3, 50%)
      border-radius 4px
      margin-top 21px
      width 198px
      height 109px
      .card-item-block
        height 70px
        text-align center
        margin-top 12px
        .card-item--more, .item-more-message
          color color-3
          font-weight bolder
          margin 0
          display block
          vertical-align middle
        .card-item--more
          font-size 50px
          margin-top 5px
          margin-bottom 0
        .item-more-message
          font-size 12px
          margin-top -12px
          

    &:nth-child(3n+3)
      margin-right 0
    .card-item--count
      color #FFF
      font-size 16px
      margin 0
      font-weight bold
      position absolute
      top 50%
      transform translateY(-50%)
      left 15px
      transition all .2s ease-out
      width 162px
      text-overflow ellipsis
      white-space nowrap
      overflow hidden
      margin-top 8px
      &.card-item--edit
        font-size 12px
        margin-top 41px
        margin-left 4px
      &.card-item--flash
        font-size 14px
        margin-top -8px
        font-weight normal

    .card-item-block
      border-radius 4px
      overflow hidden
      text-align left
      z-index 12
      &.color-1
        background color-1
      &.color-2
        background color-2
      &.color-3
        background color-3
      &.color-4
        background color-4
      width 200px
      height 114px
      position absolute
      cursor pointer
      button
        opacity 0
        visibility hidden
        width 100%
        border none
        height 50%
        position absolute
        outline none
        text-transform uppercase
        color #FFF
        font-size 12px
        font-weight bolder
        transition all .2s
        cursor pointer
        &.btn-save
          bottom 0
          background color-1
          &:hover, &:active, &:focus
            background darken(color-1, 10%)
          .save-icon
            fill #FFF
            width 19px
            height 19px
            margin-right 3px
            margin-bottom -5px
        &.btn-delete
          top 0
          background color-2
          &:hover, &:focus, &:active
            background darken(color-2, 10%)
          .trash-icon
            width 19px
            height 19px
            fill #FFF
            margin-right 3px
            margin-bottom -5px
    .card-edit-container
      opacity 0
      visibility hidden
      z-index 13
      transition all .3 ease-in
    &.no-editing
      transform initial !important
    &.isEditing
      z-index 9999
      .card-item-block
        left 520px
        border-radius 0 4px 4px 0
        width 123px
        button
          opacity 1
          visibility visible
       &:hover
        transform initial
        box-shadow initial
      .card-edit-container
        opacity 1
        visibility visible
        position absolute
        left 0
        width 522px
        height 114px
        background rgb(247, 247, 247)
      .card-item--count
        opacity 0
        visibility hidden
      .tooltip-card
        display none
    &:hover
      .card-item--count
        opacity 0
        &.card-item--edit
          opacity 1
      .tooltip-card
        transform translateY(0)
        opacity 1

.tooltip-card
  transition all .3s ease
  padding 10px 0
  width 200px
  border-radius 4px
  height 85%
  opacity 0
  z-index 15
  transform translateY(100%)
  p
    margin 0
    margin-bottom 2px
    margin-top 8px
    color #FFF
    font-size 16px
    position absolute
    top 50%
    left 15px
    transform translateY(-50%)
    font-weight bold
    width 162px
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    &.card-item--flash
      margin-top -8px
      font-weight normal
      font-size 14px
  span
    font-weight bold
  .trash-icon
    width 20px
    height 20px
    position absolute
    bottom 13px
    right 7px
    fill #FFF
  &.color-1
    background darken(color-1, 10%)
  &.color-2
    background darken(color-2, 10%)
  &.color-3
    background darken(color-3, 10%)
  &.color-4
    background darken(color-4, 10%)

.card-edit-container
  .card-edit-content
    width calc(50% - 21px)
    float left
    height 100%
    padding-left 19px
    &:first-child
      padding-left 20px
      position relative
      &:after
        content ""
        position absolute
        width 2px
        height 100%
        background #efefef
        right 0
        top 0
    p
      font-size 22px
      margin-bottom 10px
      color rgba(184, 189, 199, 1)
      font-weight bold
    input
      width 84%
      height 32px
      padding-left 10px
      outline none
      border 1px solid rgba(206, 212, 216, 1)