.packs-content
  padding 0
  list-style none
  display flex
  flex-flow wrap
  margin-bottom 20px
  margin-top 0
  justify-content space-between

.pack-item
  width 270px
  padding 20px 10px 10px 10px
  height 130px
  margin-top 15px
  position relative
  border-radius 10px
  transition background .4s ease-in
  z-index 1
  &:hover
    .palette-color, .play-label, .setting-content
      opacity 1
      visibility visible
  h3
    color #FFF
    font-size 16px
    margin 0

  &.color-1, &.color-2, &.color-3, &.color-4
    .input-description-package, .input-title-package
      width 95%
      height 41px
      transition all .3s
      &:focus
        color #FFF
        padding-left 10px
        background rgba(0, 0, 0, .1);
    .input-title-package
      height 44px
    .input-title-package:focus + .title-edit-icon, .input-description-package:focus + .description-edit-icon
      display none

  &.color-1
    background-color color-1
    .input-description-package
      background color-1
    .input-title-package
      background color-1

  &.color-2
    background-color color-2
    .input-description-package
      background color-2
    .input-title-package
      background color-2

  &.color-3
    background-color color-3
    .input-description-package
      background color-3
    .input-title-package
      background color-3

  &.color-4
    background-color color-4
    .input-description-package
      background color-4
    .input-title-package
      background color-4

.pack-item--new
  text-align center
  border 2px dotted color-3
  color gray-light
  padding 4px 9px 22px 9px
  .pack-item-content
    cursor pointer

.create-package--icon
  font-size 80px
  margin 45px 0 20px 0
  line-height 10px
  font-weight bold

.create-package--description
  margin 0
  font-size 17px
  font-weight bold

.pack-item--creating
  padding 0 10px
  .pack-item--title
    font-size 18px
    text-align left
    margin-bottom 6px
    color color-3
    font-weight bold
  .pack-item--input
    width 95%
    display block
    height 34px
    padding-left 10px
    border-radius 3px
    border 1px solid #ced4d8
    outline none
  .new-pack--buttons
    display flex
    justify-content space-between
    margin-top 10px
    .btn-create
      padding 10px
      font-size 10px
      width 97px
      height 40px
    .btn-cancel
      background #e2e2e2
      color rgba(184, 189, 199, 1)
    .btn-create
      width 100%
      background color-3
      transition .3s
      &:hover
        background darken(color-3, 15%)

.title-package--container
  margin-top -10px
  .input-title-package
    display block
    height 22px
    color #FFF
    font-size 20px
    font-weight bold
    &:focus
      color darken(color-1, 10%)
      background #FFF
  &:hover
    .title-edit-icon
      opacity 1
      visibility visible

.description-package--container
  height 48px
  .input-description-package
    display block
    font-weight 500
    font-size 12px
    color #FFF
    width 98%
    height 100%
    &:focus
      background #FFF
  &:hover
    .description-edit-icon
      opacity 1
      visibility visible

.more-package--content
  display block
  text-align center
  .more-package--button
    background transparent
    border 2px solid color-4
    color color-4
  &.more-package--hidden
    display none

//icons
.edit-icon
  width 19px
  height 19px
  fill rgba(255, 255, 255, 0.68)

.title-edit-icon
  float right
  margin-top -30px
  margin-right 0px
  opacity 0
  visibility hidden

.description-edit-icon
  float right
  margin-top -24px
  margin-right -2px
  opacity 0
  visibility hidden

.pack-container .planet-icon
  position absolute
  bottom -97px
  left 5px