.pack-container
  clear both
.packs-content
  padding 0
  list-style none
  display flex
  flex-flow wrap
  margin-bottom 20px
  margin-top 0
  justify-content space-between

.pack-item
  width 282px
  padding 20px 14px 14px 10px
  height 100px
  margin-top 15px
  position relative
  border-radius 4px
  transition background .4s ease-in
  cursor pointer
  z-index 1
  &:hover
    .palette-color, .play-content, .play-label, .show-pack, .setting-trash
      opacity 1
      visibility visible
    .play-content
      width 71px
  h3
    color #FFF
    font-size 16px
    margin 0
  .show-pack
    color #FFF
    cursor pointer
    border none
    position absolute
    bottom 10px
    font-weight bold
    transition .1s ease-in
    opacity 0
    &:before
      content ""
      width 0
      height 2px
      background-color #FFF
      position absolute
      left 2px
      top 15px
      transition all .3s
    &:hover
      &:before
        width 80%


  &.color-1, &.color-2, &.color-3, &.color-4
    .input-description-package, .input-title-package
      width 95%
      height 41px
      transition all .3s
      &:focus
        color #FFF
        padding-left 10px
        background rgba(0, 0, 0, .1);
    .input-title-package
      height 55px
    .input-title-package:focus + .title-edit-icon, .input-description-package:focus + .description-edit-icon
      display none

  &.color-1
    background-color color-1
    .play-content
      background-color lighten(color-1, 7%)
      box-shadow 2px 8px 22px darken(color-1, 20%)

  &.color-2
    background-color color-2
    .play-content
      background-color lighten(color-2, 7%)
      box-shadow 2px 8px 22px darken(color-2,  2%)

  &.color-3
    background-color color-3
    .play-content
      background-color lighten(color-3, 7%)
      box-shadow 2px 8px 22px darken(color-3,  20%)

  &.color-4
    background-color color-4
    .play-content
      background-color lighten(color-4, 7%)
      box-shadow 2px 8px 22px darken(color-4,  20%)
  .setting-trash
    position absolute
    bottom 9px
    right 16px
    opacity 0
    cursor pointer
    .trash-icon
      width 19px
      height 19px
      fill #FFF

.pack-item--new
  text-align center
  border 2px dotted color-3
  color gray-light
  padding 0px 12px 30px 11px
  .pack-item-content
    cursor pointer

.create-package--icon
  font-size 80px
  margin 45px 0 20px 0
  line-height 10px
  font-weight bold

.create-package--description
  margin 0
  font-size 17px
  font-weight bold

.pack-item--creating
  padding 0 10px
  .pack-item--title
    font-size 17px
    text-align left
    margin-bottom 6px
    margin-top 7px
    color color-3
    font-weight bold
  .pack-item--input
    width 95%
    display block
    height 30px
    padding-left 10px
    border-radius 3px
    border 1px solid #ced4d8
    outline none
  .new-pack--buttons
    display flex
    justify-content space-between
    margin-top 10px
    .btn-create
      padding 10px
      font-size 10px
      width 97px
      height 37px
      width 100%
      background color-3
      transition .3s
      &:hover
        background darken(color-3, 15%)

.title-package--container
  margin-top -10px
  .input-title-package
    display block
    height 22px
    cursor pointer
    color #FFF
    font-size 20px
    font-weight bold
    background transparent
    &:focus
      color darken(color-1, 10%)
      background #FFF
      cursor auto
  &:hover
    .title-edit-icon
      opacity 1
      visibility visible

.description-package--container
  height 48px
  .input-description-package
    display block
    font-weight 500
    font-size 12px
    color #FFF
    width 98%
    height 100%
    &:focus
      background #FFF
  &:hover
    .description-edit-icon
      opacity 1
      visibility visible

.more-package--content
  display block
  text-align center
  .more-package--button
    background transparent
    border 2px solid color-4
    color color-4
  &.more-package--hidden
    display none

//icons
.edit-icon
  width 21px
  height 21px
  fill rgba(255, 255, 255, 0.68)

.title-edit-icon
  float right
  margin-top -59px
  margin-right -6px
  cursor pointer
  opacity 0
  visibility hidden

.description-edit-icon
  float right
  margin-top -24px
  margin-right -2px
  opacity 0
  visibility hidden

.pack-container .planet-icon
  position fixed
  bottom -97px
  left 5px