.setting-content
  position absolute
  cursor pointer
  right 7px
  bottom 8px
  opacity 0
  visibility hidden
  .setting-icon
    width 35px
    height 28px
    opacity .4
    transition .3s ease-in
    &:hover
      opacity 1
  &.show-setting
    .setting-panel
      display block
      opacity 1
      width 33px
      visibility visible
      ul
        opacity 1
        visibility visible
        li
          opacity 1
          transform scale(1) translateY(0)
        

.setting-panel
  position absolute
  bottom 30px
  right 4px
  width 0
  ul
    list-style none
    padding 0
    opacity 0
    visibility hidden
    li
      background #FFF
      padding 10px
      border-radius 100%
      width 10px
      height 10px
      position relative
      transition all .1s ease-in
      float right
      margin-bottom 6px
      opacity 0
      transform scale(0.4) translateY(40px)
      cursor pointer
      &:hover
        border-radius 200px
        width 52px
        label
          opacity 1
        svg
          transform scale(1.1)
      
      label
        color color-4
        position absolute
        right 28px
        bottom 7px
        opacity 0
        cursor pointer
        transition all .2s ease-in
      svg
        position absolute
        transition all .3s
      .edit-icon
        fill color-4
        width 25px
        height 25px
        bottom 4px
        right 1px
      .trash-icon
        width 20px
        height 20px
        bottom 5px
        right 5px
        fill color-2
      .share-icon
        width 18px
        height 18px
        bottom 6px
        right 6px
        fill color-4
      &.setting-share
        &:hover
          width 85px