.setting-content
  position absolute
  cursor pointer
  right 7px
  bottom 8px
  opacity 0
  visibility hidden
  .setting-icon
    width 35px
    height 28px
    opacity .4
    transition .3s ease-in
    &:hover
      opacity 1