.exportPack
  width 48px
  margin-left 14px
  margin-top -4px
  float right
  cursor pointer
  a
    display block
  .export-icon
    width 48px
    height 34px
    fill color-2
    transition all .3s